.input-class {
  /* padding: 5px; */
  /* margin: 5px; */
  font-size: large;
  font-weight: bolder;
}
.logo {
  /* max-width: 10rem; */
  line-height: 1.2;
  margin-top: 0.25rem;
  max-width: 100%;
  max-height: 100%;
}
.fillSpace {
  flex: 1 1 auto;
}
/* mat-card-title {
  margin-top: 10px;
}
mat-card-title:not(:first-child) {
  margin-top: 10px;
}
.mat-button-css {
  margin: 2px;
} */

/* .fullWidth {
  width: 90%;
  height: 80%;
} */

.images {
  max-height: 600px;
  object-fit: cover;
}
.responseImage {
  width: 100%;
  object-fit: contain;
}
