<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center" style="margin: 5px;">
    <mat-card fxFlex="80%" fxLayoutAlign="center">
        <input class="input" (change)="onSelectFile($event)" type="file" />
    </mat-card>
</div>

<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
    <div fxFlex="50%">
        <mat-card color="primary">
            <div fxLayout="row">
                <span class="fillSpace"></span>
                <mat-card-title align="center">Number Plate Image</mat-card-title>
                <span class="fillSpace"></span>
            </div>
            <!-- <mat-card-content> -->
            <img class="images" [src]="imgUpload" />
            <!-- </mat-card-content> -->
        </mat-card>
    </div>
    <div fxFlex="50%">
        <mat-card>
            <div fxLayout="row">
                <!-- <button mat-button color="primary" class="mat-button-css">
                    <mat-icon backButton>arrow_back</mat-icon>
                </button> -->
                <span class="fillSpace"></span>
                <mat-card-title align="center">Number Plate Information</mat-card-title>
                <span class="fillSpace"></span>
                <!-- <button mat-button color="primary" class="mat-button-css" (click)='addImage()'>
                    <mat-icon>add</mat-icon>
                </button> -->
            </div>
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly center">
                <div fxFlex="70%">
                    <form [formGroup]="form">
                        <div fxLayout="row wrap" fxLayoutGap="5px grid" fxLayoutAlign="center center">
                            <mat-form-field fxFlex="50%" class="form-field " appearance="outline"
                                fxLayoutAlign="center">
                                <mat-label>Number Plate</mat-label>
                                <input class="input-class" matInput formControlName="numberPLate"
                                    placeholder="Number Plate">
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div fxFlex="30%">
                    <img class="responseImage" [src]="imgResponse" />
                </div>
            </div>
        </mat-card>
    </div>

</div>